/****************************/
/** Cores **/
/****************************/
$white:  #FFFFFF;

$mid-blue: #041F8F;
$light-blue: #0285C9;
$dark-blue: #303D63;

$mid-grey: #84888C;
$light-grey: #F6F9FC;
$dark-grey: #2F2F2F;
